

{% extends 'core/base.html' %}


{% block title %}
    Home
{% endblock title %}


{% block header_img %}
{% load static %}
url('{% static 'core/img/home-bg.jpg'%}')

{% endblock header_img %}

    
{% block text_on_image_header %}
<h1>Portada</h1>
{% endblock text_on_image_header %} 

{% block  content %}
<div class="row">  
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="img/avatar.jpg" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2>Portada</h2>
    <div>
        Esta será la portada de mi Web Personal
    </div>

    </div>
</div>
{% endblock content%}